# Modeling
allennlp==2.10.1
allennlp_models==2.10.1

# Data munging
pandas==0.25.2
beautifulsoup4==4.8.1
lxml
python-Levenshtein

# Hyperparameter search
optuna>=2.1.0

# Custom
overrides==6.1.0
accelerate==0.20.3
gdown